.hoverable {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition-property: all;
  transition: 0.7s ease;
  background-color: $primaryColor2;
}

.hoverable:hover .overlay {
  cursor: pointer;
  opacity: 1;
}

.text {
  font-family: "Merienda One", cursive;
  color: $primaryColor1;
  font-weight: 500;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
