#info {
  background-color: $primaryColor1;
  #info-header {
    padding: 1vh 0;
    text-align: center;
    @include header-style();
  }
  #location {
    @include header-style();
    font-family: "Kaushan Script", cursive;
  }
  #details {
    @include header-style();
    font-family: "Kaushan Script", cursive;
  }
  div {
    text-align: center;
  }
  h3,
  li {
    color: white;
    font-family: "Kaushan Script", cursive;
  }
  h3 {
    margin-bottom: 3vh;
    text-align: center;
  }
  ul {
    margin-left: 5vw;
    text-align: left;
    list-style-type: none;
  }
  li {
    font-size: 1.5rem;
  }
  padding-bottom: 5vh;
}
