* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

nav {
  padding: 0 !important;
  height: 7.5vh;
  position: fixed !important;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: #13313d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  vertical-align: middle;
}

nav .navbar {
  padding: 0 !important;
}

nav a:hover {
  cursor: pointer;
  color: #efcd4a;
  text-decoration: none;
}

nav #brand {
  text-align: center;
  width: 50%;
}

nav #brand a {
  font-size: 3vh;
}

nav .nav-item {
  background-color: #13313d;
  padding: 0 3.5vh;
}

nav a {
  font-family: "Pacifico", cursive;
  color: white;
}

nav a {
  text-decoration: none;
  font-size: 2vh;
}

#bannerImage {
  margin-top: 7.5vh;
  width: 100%;
  height: 92.5vh;
}

#bannerText {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#bannerText h1 {
  color: white;
  font-family: "Pacifico", cursive;
  font-size: 7.5vh;
  text-shadow: 4px 4px 2px #000000;
}

#gallery {
  text-align: center;
  background-color: #13313d;
  background-size: cover;
}

#gallery h1 {
  color: white;
  font-family: "Pacifico", cursive;
  font-size: 7.5vh;
  text-shadow: 4px 4px 2px #000000;
  padding: 2vh 0;
}

#gallery .gallery-cell {
  height: 25vh;
  width: 100%;
}

#gallery .gallery-cell img {
  height: 100%;
  width: 100%;
}

#gallery div {
  padding: 0.5rem;
}

.col-3 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

#info {
  background-color: #13313d;
  padding-bottom: 5vh;
}

#info #info-header {
  padding: 1vh 0;
  text-align: center;
  color: white;
  font-family: "Pacifico", cursive;
  font-size: 7.5vh;
  text-shadow: 4px 4px 2px #000000;
}

#info #location {
  color: white;
  font-family: "Pacifico", cursive;
  font-size: 7.5vh;
  text-shadow: 4px 4px 2px #000000;
  font-family: "Kaushan Script", cursive;
}

#info #details {
  color: white;
  font-family: "Pacifico", cursive;
  font-size: 7.5vh;
  text-shadow: 4px 4px 2px #000000;
  font-family: "Kaushan Script", cursive;
}

#info div {
  text-align: center;
}

#info h3,
#info li {
  color: white;
  font-family: "Kaushan Script", cursive;
}

#info h3 {
  margin-bottom: 3vh;
  text-align: center;
}

#info ul {
  margin-left: 5vw;
  text-align: left;
  list-style-type: none;
}

#info li {
  font-size: 1.5rem;
}

#sticky-footer {
  border-top: 2px solid white;
  background-color: #13313d;
  -ms-flex-negative: none;
      flex-shrink: none;
  padding: 1rem 0;
}

#sticky-footer #contactDiv div {
  text-align: center;
}

#sticky-footer #contactDiv div h2 {
  color: white;
  font-family: "Pacifico", cursive;
  font-size: 7.5vh;
  text-shadow: 4px 4px 2px #000000;
  margin-bottom: 2.5vh;
  font-size: 2rem;
  font-family: "Kaushan Script", cursive;
}

#sticky-footer .copyright {
  padding-top: 1rem;
}

#sticky-footer .copyright span {
  font-size: 1rem;
  font-weight: 400;
}

#map {
  height: 400px;
  width: 70%;
  margin: auto;
}

.socialIcons {
  text-decoration: none;
}

#contactDiv {
  border-bottom: 2px solid white;
}

#contactDiv .col-6 {
  margin-bottom: 1.5rem;
}

#contactDiv .col-6 p {
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 0;
}

@media (max-width: 575.98px) {
  nav #brand {
    width: 100%;
    margin: 0;
    text-align: left;
    margin-left: 2.5%;
  }
  nav .nav-item .nav-link {
    font-size: 2.5vh;
    padding: 0.5vh;
  }
  nav .mx-auto {
    margin-left: 1% !important;
  }
  .navbar-toggler {
    margin-top: 0.5vh;
    float: right;
    margin-left: 10%;
  }
  #bannerImage {
    -o-object-fit: none;
       object-fit: none;
  }
  #bannerText {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  #bannerText h1 {
    font-size: 5.5vh;
  }
  #info h2 {
    margin-top: 3.5vh;
  }
  #info-header {
    margin-bottom: 5vh;
  }
  #map {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */