$primaryColor1: #13313d;
$primaryColor2: #efcd4a;

@mixin header-style {
  color: white;
  font-family: "Pacifico", cursive;
  font-size: 3.5rem;
  text-shadow: 4px 4px 2px #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fwh-slide {
  max-height: 100vh;
}

nav {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: $primaryColor1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 7.5vh;
    margin-top: 0;
    background-color: $primaryColor1;
  }

  a:hover {
    cursor: pointer;
    color: $primaryColor2;
    text-decoration: none;
  }

  #brand {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 7.5vh;
    margin-top: 0;
    background-color: $primaryColor1;
  }

  h3,
  a {
    font-family: "Pacifico", cursive;
    color: white;
  }

  h3 {
    font-size: 1.75rem;
  }

  a {
    text-decoration: none;
    font-size: 1.5rem;
  }
}

#bannerImage {
  width: 100%;
  height: 92.5vh;
}

#banner {
  height: 92.5vh;
  padding: 0;
  margin-top: 7.5vh;
}

#bannerText {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  margin-bottom: 45vh;
  h1 {
    @include header-style();
  }
}

#gallery {
  text-align: center;
  background-color: $primaryColor1;
  background-size: cover;
  h1 {
    @include header-style();
    padding: 1rem 0;
  }

  .row {
    padding-bottom: 2vh;
  }

  img {
    height: 25vh;
    width:100%;
  }
  .gallery-cell {
    padding: 0 1vh;
  }
}

.col-3 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

#info {
  background-color: $primaryColor1;
  #info-header {
    padding: 1vh 0;
    text-align: center;
    @include header-style();
  }
  #location {
    @include header-style();
    font-family: 'Kaushan Script', cursive;
  }
  #details {
    @include header-style();
    font-family: 'Kaushan Script', cursive;
  }
  h3, li {
    color: white;
    font-family: 'Kaushan Script', cursive;
  }
  h3 {
    margin-bottom: 3vh;
    text-align: center;
  }
  ul {
    margin-left: 5vw;
    text-align: left;
    list-style-type: none;
  }
  li {
    font-size: 1.5rem;
  }
}

#sticky-footer {
  border-top: 2px solid white;
  background-color: $primaryColor1;
  flex-shrink: none;
}

#map {
  height: 400px;
  width: 70%;
  margin: auto;
}